.btn {
    margin-top: 44px;
    width: 160px;
    height: 45px;
    background-color: $main-color;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    &__second {
        margin-top: 0;
    }
    &__third {
        margin-top: 38px;
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
    &:hover {
        text-decoration: none;
        background-color: #dc5238;
    }
}
.center-btn {
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 57px;
    background-color: $main-color;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    &:hover {
        background-color: #dc5238;
    }
}
.btn-submit {
    position: absolute;
    width: 180px;
    height: 45px;
    border: none;
    background-color: $main-color;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    top: 64%;
    &:hover {
        background-color: #dc5238;
    }
}
.btn-send {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 45px;
    background-color: $main-color;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    &:hover {
        background-color: #dc5238;
    }
}